---
import ServiceDescription from "../components/ServiceDescription.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <ServiceDescription
      title="Egzekucja i windykacja"
    >
      <p>
        Kancelaria adwokacka specjalizująca się w egzekucji i windykacji oferuje
        kompleksowe usługi prawne związane z odzyskiwaniem należności. Jej
        głównym celem jest skuteczne prowadzenie postępowań egzekucyjnych,
        zarówno sądowych, jak i komorniczych, w celu odzyskania długów dla
        swoich klientów. Kancelaria adwokacka doradza swoim klientom w zakresie
        strategii egzekucyjnej, analizuje dokumentację i reprezentuje ich
        interesy przed sądami i organami egzekucyjnymi.
      </p>

      <h3>
        Do naszych specjalizacji z zakresu egzekucji i windykacji należy m. in.:
      </h3>
      <ul>
        <li>Kompleksowe zastępstwo w postępowaniu egzekucyjnym</li>
        <li>
          Odzyskiwanie długów od dłużnika pozostającym w związku małżeńskim
        </li>
        <li>Ściąganie należności przeciwko członkom zarządu spółki z .o.o.</li>
        <li>Skarga pauliańska</li>
        <li>Zabezpieczanie wierzytelności</li>
      </ul>
    </ServiceDescription>
  </main>
</Layout>
