---
import BoxedIcon from "../components/BoxedIcon.astro";
import Layout from "../layouts/Layout.astro";
import "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="header-wrapper">
      <div class="desktop quote">
        <h1>Adwokat</h1>
        <h1>Amadeusz Czachorowski</h1>
        <h3>Dobro klienta naszą największą wartością</h3>
      </div>
      <div class="mobile quote">
        <h5>Adwokat</h5>
        <h5>Amadeusz Czachorowski</h5>
        <h6>Dobro klienta naszą największą wartością</h6>
      </div>
    </div>

    <div class="card-container f-column">
      <h1 class="center">Nasze usługi</h1>
      <div class="cards f-row">
        <BoxedIcon
          icon="fa-solid fa-gavel"
          header="prawo karne"
          href="/prawo-karne-i-wykroczenia"
        >
          Kancelaria specjalizuje się w szeroko pojmowanym obszarze prawa
          karnego. Prowadzimy sprawy karne związane zarówno z obroną interesów
          oskarżonego jak i pokrzywdzonego. Oferujemy pomoc prawną na każdym
          etapie postępowania, od chwili zatrzymania po etap postępowania przed
          Sądami I i II instancji. Pomoc prawna świadczona jest w ramach
          wszelkich przewidzianych kodeksem karnym przestępstw i wykroczeń
          przewidzianychw kodeksie wykroczeń.
        </BoxedIcon>
        <BoxedIcon
          icon="fa-solid fa-section"
          header="prawo cywilne"
          href="/prawo-cywilne"
        >
          Kancelaria specjalizuje się w szeroko pojmowanym obszarze prawa
          cywilnego. Reprezentujemy interesy naszych klientów począwszy od
          bieżącego doradztwa prawnego, tworzenia umów, negocjacji z
          kontrahentami, poprzez etap postępowań sądowych, przed Sądami I i II
          instancji, aż do ewentualnego postępowania egzekucyjnego.
        </BoxedIcon>
        <BoxedIcon
          icon="fa-solid fa-coins"
          header="egzekucja i windykacja"
          href="/egzekucja-i-windykacja"
        >
          Kancelaria adwokacka specjalizująca się w egzekucji i windykacji
          oferuje kompleksowe usługi prawne związane z odzyskiwaniem należności.
          Jej głównym celem jest skuteczne prowadzenie postępowań egzekucyjnych,
          zarówno sądowych, jak i komorniczych, w celu odzyskania długów dla
          swoich klientów. Kancelaria adwokacka doradza swoim klientom w
          zakresie strategii egzekucyjnej, analizuje dokumentację i reprezentuje
          ich interesy przed sądami i organami egzekucyjnymi.
        </BoxedIcon>
        <BoxedIcon
          icon="fa-solid fa-car-burst"
          header="odszkodowania"
          href="/odszkodowania"
        >
          Nasza Kancelaria zajmuje się dochodzeniem świadczeń odszkodowawczych
          od towarzystw ubezpieczeniowych, bezpośrednio od pracodawców, oraz od
          placówek medycznych. Prowadzimy sprawy zarówno przed sądami, jak i
          komisjami do spraw orzekania o zdarzeniach medycznych.
        </BoxedIcon>
        <BoxedIcon
          icon="fa-solid fa-people-group"
          header="prawo rodzinne"
          href="/prawo-rodzinne"
        >
          Kancelaria posiada duże doświadczenie z zakresu prawa rodzinnego
          zdobyte w licznych postępowaniach zawisłych przed sądami powszechnymi.
          Reprezentujemy naszych w ramach rozmów przedsądowych, czy w
          postępowaniach mediacyjnych.
        </BoxedIcon>
        <BoxedIcon
          icon="fa-solid fa-franc-sign"
          header="pomoc frankowiczom"
          href="/pomoc-frankowiczom"
        >
          Nasz akancelaria świadczy kompleksową obsługę prawną dla
          kredytobiorców posiadających kredyt waloryzowany kursem franka
          szwajcarskiego bądź pozostałych walut obcych
        </BoxedIcon>
      </div>
    </div>

    <div class="green-card f-column center">
      <h1>
        Kompleksowe rozwiązania prawne <br /> dostosowane do Twoich potrzeb
      </h1>
      <p>
        Kancelaria Adwokacka Adwokat Amadeusz Czachorowski świadczy kompleksową
        pomoc prawną w zakresie obsługi osób fizycznych i podmiotów
        gospodarczych na terenie Oleśnicy, Wrocławia i okolic, w sprawach
        karnych, w zakresie prawa cywilnego oraz rodzinnego. Reprezentujemy
        interesy naszych klientów zarówno na etapie postępowań sądowych, jak i
        przedsądowych, w postępowaniach przygotowawczych, a także w sporach i
        negocjacjach z kontrahentami i klientami biznesowymi. Charakter naszej
        działalności oraz indywidualne podejście pozwoli na zajęcie się Państwa
        problemem w sposób całościowy. Poszukujesz prawnika w Oleśnicy lub w
        okolicach , serdecznie zapraszam do nawiązania kontaktu
      </p>
    </div>

    <div id="o-mnie" class="about-us f-row">
      <img src="/images/about-us.webp" alt="Adwokat Amadeusz Czachorowski" />
      <div class="text-container f-column center">
        <h1>Amadeusz Czachorowski</h1>
        <p>
          Jestem wpisany na listę adwokatów przy Okręgowej Radzie Adwokackiej we
          Wrocławiu. Moją praktykę rozpocząłem już na początku studiów
          prawniczych w renomowanej Kancelarii Adwokackiej na terenie
          Wrocławia,z którą związany byłem przez cały okres trwania studiów i
          aplikacji adwokackiej, aż do uzyskania tytułu zawodowego adwokata. W
          swojej karierze praktykowałem na płaszczyźnie wielu gałęzi prawa,
          uczestniczyłem w setkach procesów karnych oraz cywilnych, brałem
          czynny udział w wielu głośnych sprawach, toczących się przed Sądami
          Apelacji Wrocławskiej występując w roli obrońcy. W swojej karierze
          działałem jako kurator dla osób nieznanych z miejsca pobytu czy też
          kurator dla spółek nieposiadających zarządu
        </p>
      </div>
    </div>
  </main>
</Layout>

<style is:global lang="scss">
  .header-wrapper {
    background-image: url(/images/intro.webp);
    margin: 0 -10rem;
    aspect-ratio: 2443/1626;
    position: relative;

    background-repeat: no-repeat;
    background-position: center;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .quote {
      position: absolute;
      top: 20vw;
      left: 3vw;
      border-left: 0.75rem;
      padding-left: 2rem;

      animation: fadeIn 5s;
      -webkit-animation: fadeIn 5s;
      -moz-animation: fadeIn 5s;
      -o-animation: fadeIn 5s;
      -ms-animation: fadeIn 5s;

      h1,
      h3,
      h5,
      h6 {
        color: #fff;
      }
    }
  }

  @media screen and (max-width: 1200px) {
    .header-wrapper {
      height: 80lvh;
      aspect-ratio: 0;
      margin: 0;
    }
  }

  main {
    flex-direction: column;
  }

  .card-container {
    padding: 2rem 0;
    .cards {
      gap: 2rem;
      padding: 2rem 0;
      flex-wrap: wrap;

      > * {
        /* with gap makes 3 cards in row */
        flex-basis: 25%;
        flex-grow: 1;
      }

      p {
        text-align: center;
        padding: 0 5rem;
      }
    }
  }

  @media screen and (max-width: 1200px) {
    .card-container {
      .cards {
        margin: 0 0.5rem;
        * {
          flex-basis: 100%;
        }

        p {
          padding: 0 2rem;
        }
      }
    }
  }

  .green-card {
    background-color: rgb(34, 61, 60);
    padding: 5rem;
    margin: 4rem 0;

    h1,
    p {
      color: #fff;
      text-align: justify;
    }

    h1 {
      letter-spacing: 0.2em;
    }
  }

  .about-us {
    background-color: rgb(240, 242, 244);

    img {
      padding: 2rem;
      padding-left: 5rem;
      object-fit: scale-down;
    }

    .text-container {
      margin: 6rem 12rem;
      padding: 2.5rem 4rem;
      background-color: rgb(34, 61, 60);
      h1,
      p {
        color: #fff;
      }

      h1 {
        letter-spacing: 0.3rem;
      }
    }
  }

  @media screen and (max-width: 1200px)  {
    .green-card {
      padding: 2rem;
    }
  }
  @media screen and (max-width: 1200px) {
    .about-us {
      flex-wrap: wrap;
      flex-grow: 1;
      justify-content: center;

      .text-container {
        margin: 0;
        padding: 1.5rem;

        h1 {
          text-align: center;
        }
        p {
          padding: 1rem;
        }
      }

      img {
        padding-left: unset;
        padding: 2rem;
        max-width: 80%;
      }
    }
    .header-wrapper {
      .quote {
        top: 60vw;
        left: 5vw;
        border-left: 0.25rem;
        padding-left: 1.5rem;
      }
    }
  }

  /* Animation */
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-moz-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-o-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-ms-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>
