---
import IconWithText from "../components/IconWithText.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="f-row main-conatiner">
      <div class="contact-data-container f-column">
        <h1>Adwokat Amadeusz Czachorowski</h1>
        <h2>św. Jadwigi 10/1A, 56-400 Oleśnica</h2>
		<IconWithText icon="fa-solid fa-envelope">
		  <a href="mailto: Adwokat.Czachorowski@gmail.com"
			>Adwokat.Czachorowski@gmail.com</a
		  >
		</IconWithText>
        <IconWithText icon="fa-solid fa-phone">
          <a href="tel:+48792010469">792 010 469</a>
        </IconWithText>
		<h3>NIP: 00000000 Regon: 000000</h3>
      </div>
      <div id="map-continer">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2499.539647083603!2d17.382351099999998!3d51.209133800000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470fe2e0a4ddbef9%3A0x9912040f6b58e96b!2zxZp3acSZdGVqIEphZHdpZ2kgMTAvMWEsIDU2LTQwMCBPbGXFm25pY2E!5e0!3m2!1spl!2spl!4v1704743982918!5m2!1spl!2spl"
          width="100%"
          height="450"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </main>

  <style>
    .main-conatiner {
      display: flex;
      flex-direction: column;
      padding-top: 2em;
      flex: 1 1 100%;
	  gap: 2rem;
      & > * {
        flex: 1;
      }

      #map-continer {
        display: flex;
        justify-content: center;
      }

      .contact-data-container {
        display: flex;
        align-items: center;

		& .icon-holder{
			margin-bottom: 1rem;
		}
      }
      /* &::before{
	  content: "";
      position: absolute;
      top: 0px;
      left: 0;
      width: 100%;
      height: 115vh;
      background-image: url(/images/Contact-us.jpg);
      background-size: cover;
      filter: blur(5px);
      z-index: -1;
	  } */
    }

    a {
      text-decoration: none;
      color: #fff;
      font-weight: bold;
      &:hover {
        text-decoration: underline;
      }
    }
  </style>
</Layout>
