---
import IconWithText from "../components/IconWithText.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="f-column">
    <div class="contact-details f-row">
      <div class="text-container f-column center">
        <h1 class="f-row center">Kontakt z kancelarią</h1>
        <span class="center p-1">
          Zapraszamy do kontaktu telefonicznego lub mailowego.
        </span>
        <div class="details f-row">
          <div class="f-column">
            <span> Adwokat Amadeusz Czachorowski</span>
            <span> św. Jadwigi 10/1A, 56-400 Oleśnica</span>
            <span>NIP: 9112049789 Regon: 526784856</span>
          </div>
          <div class="f-column">
            <IconWithText icon="fa-solid fa-envelope" skipHeader>
              <a href="mailto: Adwokat.Czachorowski@gmail.com"
                >Adwokat.Czachorowski@gmail.com</a
              >
            </IconWithText>
            <IconWithText icon="fa-solid fa-phone" skipHeader>
              <a href="tel:+48792010469">792 010 469</a>
            </IconWithText>
          </div>
        </div>
      </div>
      <img src="/images/contact-us.webp" alt="kontakt kancelari" />
    </div>
    <div id="map-continer">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2499.539647083603!2d17.382351099999998!3d51.209133800000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470fe2e0a4ddbef9%3A0x9912040f6b58e96b!2zxZp3acSZdGVqIEphZHdpZ2kgMTAvMWEsIDU2LTQwMCBPbGXFm25pY2E!5e0!3m2!1spl!2spl!4v1704743982918!5m2!1spl!2spl"
        width="100%"
        height="450"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </main>

  <style is:global lang="scss">
    .contact-details {
      margin-bottom: 2rem;
      background-color: rgb(34, 61, 60);

      .details {
        margin-top: 2rem;
        width: 100%;
        justify-content: space-around;
        gap: 2rem;

        > * {
          gap: 0.25rem;
        }

        .icon-holder:last-child {
          margin-top: auto;
        }
      }

      h1,
      h2,
      h3,
      h4,
      a,
      i,
      span {
        color: #fff;
      }

      .text-container {
        flex-grow: 1;
      }

      img {
        margin-left: auto;
        object-fit: cover;
        padding: 2rem;
        aspect-ratio: 1/1;
        max-width: 40%;
      }

      @media screen and (max-width: 1200px) {
        img {
          max-width: 80%;
        }
        
      }
    }

    a {
      text-decoration: none;
      color: #fff;
      &:hover {
        text-decoration: underline;
      }
    }
  </style>
</Layout>
