---
import ServiceDescription from "../components/ServiceDescription.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <ServiceDescription title="Pomoc frankowiczom" imgSrc="/images/prawo-karne.jpg" alt="prawo karne">
        <p>
            Problematyka kredytów frankowych dotykająca kredytobiorców sprowadza
            się przede wszystkim do podjęcia decyzji co do tego tego, czy wystąpić
            z powództwem przeciwko bankowi o unieważnienie (w całości lub w
            części) umowy kredytu i/lub z powództwem o zapłatę, czy też zawrzeć z
            bankiem ugodę. Wybranie konkretnej ścieżki postępowania wiąże się z
            analizą danej umowy kredytu frankowego i uzależniona jest od tego, czy
            kredytobiorca spłaca jeszcze kredyt frankowy, czy też kredyt frankowy
            już spłacił. Nie bez znaczenia jest także analiza orzecznictwa
            krajowego i unijnego.
          </p>
  
          <h2>Pomoc frankowiczom świadczona przez Kancelarię obejmuje m.in.</h2>
          <ul>
            <li>porady i opinie prawne</li>
            <li>
              analizę prawną umowy kredytu frankowego indeksowanego i denominowanego
            </li>
            <li>
              sporządzenie pozwu i reprezentacja kredytobiorcy frankowego przed sądem
            </li>
            <li>reprezentacja kredytobiorcy frankowego w negocjacjach z bankiem w zakresie zawarcia ugody</li>
            <li>reprezentacja kredytobiorcy frankowego w sporach sądowych z powództwa wytoczonego przez bank</li>
            <li>pomoc prawną przy dokonaniu rozliczenia z bankiem (w wyniku dokonanej nadpłaty)</li>
            <li>pomoc prawną w zakresie wykreślenia hipoteki i postępowania wieczystoksięgowego</li>
          </ul>
    </ServiceDescription>
  </main>
</Layout>
