---
import Title from '../components/Title.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Title>Prawo karne i wykroczenia</Title>
        <div class="main-container f-row">
			<div class="text-holder f-column">
				<p>Kancelaria specjalizuje się w szeroko pojmowanym obszarze prawa karnego. Prowadzimy sprawy karne związane
					zarówno z obroną interesów oskarżonego jak i pokrzywdzonego. Oferujemy pomoc prawną na każdym etapie
					postępowania, od chwili zatrzymania poprzez etap postępowania przed Sądami I i II instancji. Pomoc prawna
					świadczona jest w ramach wszelkich przewidzianych kodeksem karnym przestępstw i wykroczeń przewidzianych
					w kodeksie wykroczeń.</p>
				<h2>Z nami możesz liczyć na kompleksową obsługę m.in. w zakresie </h2>
					<ul>
						<li>Obrony oskarżonych na etapie postępowania przygotowawczego i sądowego (począwszy od zatrzymania osoby, udziale w przesłuchaniach, posiedzeniach aresztowych, do obrony przed Sądem i prawomocnego zakończenia sprawy);</li>
						<li>Sporządzania sprzeciwów od wyroków nakazowych;</li>
						<li>Sporządzania zawiadomień o możliwości popełnienia przestępstwa;</li>
						<li>Sporządzania prywatnych i subsydiarnych aktów oskarżenia;</li>
						<li>Sporządzania zażaleń, apelacji, kasacji, wniosków o wznowienie postępowania;</li>
						<li>Reprezentowanie pokrzywdzonych, oskarżycieli posiłkowych oraz powodów cywilnych;</li>
						<li>Reprezentowanie skazanego na etapie wykonania kary;</li>
						<li>Porady prawne dotyczące prawa karnego.</li>
					</ul>
				<h2>Do naszych specjalizacji z prawa karnego zaliczają się między innymi sprawy, których przedmiotem są:</h2>
				<ul>
					<li>przestępstwa związane z posiadaniem lub obrotem narkotykami;</li>
					<li>Przestępstwa związane z prowadzeniem pojazdu pod wpływem alkoholu lub narkotyków;</li>
					<li>przestępstwa przeciwko porządkowi publicznemu i przestępczości zorganizowanej (udział w zorganizowanej grupie przestępczej);</li>
					<li>przestępstwa przeciwko zdrowiu i życiu (spowodowania ciężkiego, średniego lub lekkiego uszczerbku na zdrowiu, bójki, pobicia, zabójstwa);</li>
					<li>Oszustwa;</li>
					<li>Nękanie;</li>
					<li>Zniewaga;</li>
					<li>Naruszenie nietykalności cielesnej;</li>
					<li>Przestępstwa ścigane z oskarżenia prywatnego;</li>
					<li>Sprawy osób niesłusznie skazanych lub tymczasowo aresztowanych;</li>
					<li>postępowania wykonawcze, w tym wnioski o:</li>
					<ul>
						<li>udzielenie zgody na odbywanie kary w systemie dozoru elektronicznego,</li>
						<li>odroczenie odbywania kary pozbawienia wolności,</li>
						<li>udzielenie przerwy w odbywaniu kary pozbawienia wolności,</li>
						<li>warunkowe przedterminowe zwolnienie z odbycia reszty kary pozbawienia wolności,</li>
					</ul>
				</ul>
			</div>
			<div class="image-holder">
				<img src="/images/prawo-karne.jpg" alt="prawo karne" />
			</div>
		</div>
	</main>
	<style>
		main{
			flex-direction: column;

			& > h1 {
				display: flex;
				justify-content: center;
				flex-basis: 100%;
				
			}

		}
		.main-container{
			flex: 1 1 100%;
			gap: 1rem;
			
			& > * {
				display: flex;
				/* flex-grow: 1; */
			}

			& .image-holder > img {
				height: 25vw;
				width: auto;
                                border-radius: 10px;
			}
		}


	</style>
</Layout>