---
import ServiceDescription from '../components/ServiceDescription.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<ServiceDescription title="Prawo rodzinne" imgSrc="/images/sad-rodzinny.jpg" alt="prawo karne">
			<p>Kancelaria posiada duże doświadczenie z zakresu prawa rodzinnego zdobyte w licznych postępowaniach
				zawisłych przed sądami powszechnymi. Reprezentujemy naszych w ramach rozmów przedsądowych, czy w
				postępowaniach mediacyjnych.</p>
			<h2>Do naszych specjalizacji z prawa rodzinnego zaliczają się między innymi
				sprawy, których przedmiotem są:</h2>
				<ul>
					<li>Rozwód;</li>
					<li>Separacja;</li>
					<li>Uregulowanie kontaktów z dziećmi;</li>
					<li>Alimenty;</li>
					<li>Przysposobienie;</li>
					<li>Opieka i kuratela;</li>
					<li>Władza rodzicielska (ograniczenie i zawieszenie);</li>
					<li>Podział majątku;</li>
					<li>Rozdzielność majątkowa;</li>
					<li>Ustalenie ojcostwa;</li>
					<li>Zaprzeczenie ojcostwa.</li>
				</ul></ServiceDescription>
	</main>
</Layout>