<footer>
  <p>&copy; 2023 Advocate Office. All rights reserved.</p>
</footer>

<style>
  footer {
    background-color: #6b6054;
    color: #fff;
    text-align: center;

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem; 
  }

  @media screen and (max-width: 768px) {
    footer {
      position: static;
      margin-top: 2rem;
    }
  }
</style>
