---
import IconWithText from "./IconWithText.astro";
---

<!-- Desktop -->
<nav class="f-column desktop">
  <div class="image-container f-row">
    <a class="nav-logo-anchor" href="/"
      ><img alt="log" src="/images/navbar-logo-gold.jpg" /></a
    >
    <div class="contact f-column">
      <IconWithText icon="fa-solid fa-phone" shouldGrow>
        <a href="tel:+48792010469">792 010 469</a>
      </IconWithText>
    </div>
  </div>
  <ul>
    <li><a href="/">Strona Główna</a></li>
    <li><a href="/#o-mnie">O mnie</a></li>
    <li class="dropdown">
      <a>Oferta</a>
      <div class="dropdown-content">
        <a href="/prawo-karne-i-wykroczenia">Prawo karne i wykroczenia</a>
        <a href="/prawo-cywilne">Prawo cywilne</a>
        <a href="/odszkodowania">Odszkodowania</a>
        <a href="/prawo-rodzinne">Prawo rodzinne</a>
        <a href="/egzekucja-i-windykacja">Egzekucja i windykacja</a>
        <a href="/pomoc-frankowiczom">Pomoc frankowiczom</a>
      </div>
    </li>
    <li><a href="/kontakt">Kontakt</a></li>
  </ul>
  <div class="line"></div>
</nav>

<!-- Mobile -->
<nav class="f-column mobile">
  <div class="mobile-image-container">
    <a class="nav-logo-anchor" href="/"
      ><img alt="log" src="/images/navbar-logo-gold.jpg" /></a
    >
    <div class="row">
      <div class="f-row mobile-menu">
        <div class="f-column">
          <button class="button-46 dropdown"
            ><h3><i class="fa-solid fa-bars"></i></h3>
            <div class="dropdown-content">
              <a href="/">Strona Główna</a>
              <a href="/#o-mnie">O mnie</a>
              <a href="/kontakt">Kontakt</a>
              <span class="dropdown">
                Oferta
                <div class="dropdown-content internal">
                  <a href="/prawo-karne-i-wykroczenia"
                    >Prawo karne i wykroczenia</a
                  >
                  <a href="/prawo-cywilne">Prawo cywilne</a>
                  <a href="/odszkodowania">Odszkodowania</a>
                  <a href="/prawo-rodzinne">Prawo rodzinne</a>
                  <a href="/egzekucja-i-windykacja">Egzekucja i windykacja</a>
                  <a href="/pomoc-frankowiczom">Pomoc frankowiczom</a>
                </div>
              </span>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>

<style lang="scss">
  nav {
    a {
      color: black;
    }

    .line {
      width: 50%;
      border-bottom: 1px solid #000;
      margin: 0 auto;
      margin-bottom: 1rem;
    }
  }

  .mobile-image-container {
    img {
      max-width: 95lvw;
      height: auto;
    }
  }

  .image-container {
    max-height: 250px;
    & img {
      min-width: min(1226px, 90vw);
      width: auto;
      height: 10rem;
      mix-blend-mode: multiply;
    }

    .contact {
      padding-left: 2rem;
      align-content: stretch;
      justify-content: center;
    }

    .icon-holder {
      cursor: pointer;
      i,
      a {
        color: black;
      }
    }
  }

  @media screen and (max-width: 1200px) {
    .image-container {
      max-width: 100vw;
      & img {
        max-width: 100%;
      }
    }
  }

  ul {
    display: flex;
    justify-content: center;
    column-gap: 5rem;
    list-style-type: none;
    font-weight: 500;
    margin-top: -0.25rem;
    padding-bottom: 1rem;
    z-index: 1;
  }

  a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }

  .nav-logo-anchor {
    cursor: auto;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    margin-left: -5rem;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    a,
    span {
      /* color: black; */
      font-weight: bold;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    a:hover {
      background-color: #f1f1f1;
    }
  }

  @media screen and (max-width: 1200px) {
    .dropdown-content:nth-child(2) {
      top: 120px;
    }
    .dropdown-content {
      margin-left: 0;
      a {
        width: 80lvw;
      }
    }
    .internal {
      left: 0;
      padding-top: 0.25rem;
    }
  }

  .dropdown:hover,
  .dropdown:active {
    > .dropdown-content {
      display: block;
    }
  }

  .mobile-menu {
    /* justify-content: center; */
    margin: 1rem 0;
    justify-content: center;

    button {
      max-height: 3rem;
    }
  }
</style>
