---

---

<div class="title-holder f-row center">
  <h1><slot /></h1>
</div>

<style>
  .title-holder {
    background-color: rgb(34,61,60);
    margin: 0 -5rem;
    margin-bottom: 2rem;
    padding: 2rem 0;
  }
  h1 {
    color: #fff;
  }

  @media screen and (max-width: 1200px){
    .title-holder {
      margin: 0;
    }
    
  }
</style>
